.client-list-container{
    position: relative;
    width: 1100px;
    display: flex;
    justify-content: left;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

/* .overall-portal-client{
    width: 1300px;
    margin-top: 80px;
} */

th{
    text-align: center;
}
.client-status{
    display: flex;
    flex-direction: row;
    font-family: Roboto;
    margin-top: 10px;
    margin-bottom: 20px;
}
.total-client-service{
    width: 155px;
    height: 50px;
    padding-top:px;
    background-color: #26BEFE;
    color: white;
    border-radius: 4px;
}
.register-today{
    width: 235px;
    height: 120px;
    background-color: #26BEFE;
    color: white;
    margin-left: 50px;
    border-radius: 4px;
}
.portal-client-status{
text-align:left ;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 19px;
letter-spacing: 0em;
margin-left: 10px;
margin-top: 10px;


}
.portal-client-status-count{
    text-align: center;
    font-family: Roboto;
font-size: 50px;
font-style: normal;
font-weight: 700;
line-height: 59px;
letter-spacing: 0em;
}

.client-list-number-sort-container{
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
}
.select-box {
    width: 60px !important;
    height: 40px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
}
#numberSelect option{
    width: 50px !important;
    text-align: center;
    padding: 6px;
}



.search-query{
    width: 945px;
    height: 40px;
    margin-left: 30px;
    background: url(/images/search-solid.svg) no-repeat right;
    background-size: 20px 20px;
    border-color: #C4C4C4;
    border-radius: 5px;
    background-position: 910px 8px !important;
}

.client-list-menu{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    margin-bottom: 20px;
}

.status-box-enabled{
    width: 150px;
    height: 30px;
    padding-top: 7px;
    background-color: #2ECC71;
    border-radius: 5px;
    color: white;
    font-family: Roboto;
    display: flex;
    font-size: 14px;
    font-weight: 700;
    justify-content: center;
    
}
.status-box-disabled{
    width: 150px;
    height: 30px;
    padding-top: 7px;
    background-color: #E74C3C;
    border-radius: 5px;
    color: white;
    font-family: Roboto;
    display: flex;
    font-size: 14px;
    font-weight: 700;
    justify-content: center;
}

.client-list{
    border: 1px solid #ddd;
    border-radius: 4px;
    
   
}


table {
  color: #6A6A6A;
}

#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #customers td, #customers th {
    /* border: 1px solid #ddd; */
    padding: 10px;
  }
  
  /* .cell-title{
    border: 1px solid #ddd;
  } */


  /* #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;} */
  
  /* #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  } */

  
  
  *{
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}


.modal-container2{
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -30px;
    min-height: 100vh;
    min-width: 100vw;
    position: fixed;
    height: 100vh;
    width: 100vw;
    opacity: 0;
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.3);
    
}

.modal-container2.show {
    opacity:1;
    pointer-events: auto;
 
}

button {
    background-color: #47a386;
    border: 0;
    border-radius: 5px;
    color: #fff;
    padding: 10px 25px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}


.modal2{
    
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    width: 600px;
    border: 2px solid #6A6A6A;
    /* padding: 30px 50px; */
    text-align: center;
    margin-top: 130px;
    margin-left: 200px;
    border-radius: 6px;
}

.modal2 h1{
    margin: 0;
}

.modal2 p{
    font-size: 14px;
    opacity: 0.7;
}

.display{
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.client-details-title{
    border-bottom: 1px solid #C4C4C4;
    width: 100%;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.client-details{
    border-bottom: 1px solid #C4C4C4;
    width: 100%;
    padding: 10px;
}

.client-details-container{
    width: 96%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.client-details-name{
    display: flex;
    flex-direction: row;
    text-align: left;
    width: 100%;
    padding-bottom: 20px;
    padding-top: 10px;
    border-bottom: 1px solid #C4C4C4;
}
.client-details-name-1{
    display: flex;
    flex-direction: row;
    text-align: left;
    width: 100%;
    padding-bottom: 0px;
    padding-top: 10px;
   
}
.client-details-image{
    margin-right: 10px;
    width: 80px;
    height: 80px;
    border-radius: 12px;
}

.client-details th{
    padding: 5px;
    width: 35%;
}

.client-details-buttons{
    margin-top:20px;
    margin-bottom:20px;
}

td p{
    cursor: pointer;
    margin: auto;
    color: #007bff;
}
.status-box-active-1{
    width: 120px;
    height: 25px;
    padding-top: 7px;
    background-color: #2ECC71;
    border-radius: 5px;
    color: white;
    font-family: Roboto;
    display: flex;
    padding-top:3px;
    font-size: 14px;
    font-weight: 700;
    justify-content: center;
    margin-left:230px;
}

.dl-provider-reg{
    margin-left: 180px;
    margin-right: 10px;
    width: 15px;
    height: 20px;
    margin-top:3px;
    
}
