.portal-nav-container{
    width: 230px;
    height: 100vh;
    background-color: #FEC128;
}
.portal-menu{
    width: 150px;
}
.portal-menu-text{
    list-style: none;
    margin-left: 20px;
    margin-top: 10px;
    font-family: Roboto;
    color: white;
    font-weight: 500;
}
.portal-container{
    display: flex;
    flex-direction: row;
}
.ul-portal{
    padding: 0px;
}
.portal-menu-image{
    margin-right: 15px;
    margin-left: 10px;
}
.portal-logo{
    margin-bottom: 80px;
    margin-left: 20px;
    margin-top: 20px;
}
.men a{
    width: 160px;
    height: 40px;
    cursor: pointer;
    display: block;
    padding-top: 10px;
    margin-left: 20px;
    font-family: Roboto;
    color: white;
    border-radius: 4px;
    text-decoration: none;
}
.men a:hover{
    width: 160px;
    height: 40px;
    margin-left: 20px;
    padding-top: 10px;
    background-color: black;
    cursor: pointer;
    border-radius: 4px;
    text-decoration: none;
}

.portal-content{
    width: 1200px;
}
.portal-content-2{
    width: 1200px;
    height: 700px;
    margin-left: 30px;
 
}
/* Dropdown Button */
.dropbtn {
    background-color: greenyellow;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-right:50px;
    margin-top: 10px;
}

  /* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

  /* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    /* display: inline-block; */
    float: right;
}

  /* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

  /* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

  /* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}