.provider-list-container{
    position: relative;
    width: 1100px;
    display: flex;
    justify-content: left;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

/* .overall-portal-provider{
    width: 1300px;
    margin-top: 80px;
} */

th{
    text-align: center;
}
.provider-status{
    display: flex;
    flex-direction: row;
    font-family: Roboto;
    margin-top: 10px;
    margin-bottom: 20px;
}
.total-provider{
    width: 235px;
    height: 120px;
    background-color: #26BEFE;
    color: white;
    
    border-radius: 4px;
}
.register-today{
    width: 235px;
    height: 120px;
    background-color: #26BEFE;
    color: white;
    margin-left: 50px;
    border-radius: 4px;
}
.portal-provider-status{
text-align:left ;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 19px;
letter-spacing: 0em;
margin-left: 10px;
margin-top: 10px;


}
.portal-provider-status-count{
    text-align: center;
    font-family: Roboto;
font-size: 50px;
font-style: normal;
font-weight: 700;
line-height: 59px;
letter-spacing: 0em;
}

.provider-list-number-sort-container{
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
}
.select-box {
    width: 60px !important;
    height: 40px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
}
#numberSelect option{
    width: 50px !important;
    text-align: center;
    padding: 6px;
}



.search-query{
    width: 945px;
    height: 40px;
    margin-left: 30px;
    background: url(/images/search-solid.svg) no-repeat right;
    background-size: 20px 20px;
    border-color: #C4C4C4;
    border-radius: 5px;
    background-position: 910px 8px !important;
}

.provider-list-menu{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    margin-bottom: 20px;
}

.status-box-completed{
    width: 170px;
    height: 30px;
    padding-top: 7px;
    background-color: #2ECC71;
    border-radius: 5px;
    color: white;
    font-family: Roboto;
    display: flex;
    font-size: 14px;
    font-weight: 700;
    justify-content: center;
    
}
.status-box-cancelled{
    width: 170px;
    height: 30px;
    padding-top: 7px;
    background-color: #E74C3C;
    border-radius: 5px;
    color: white;
    font-family: Roboto;
    display: flex;
    font-size: 14px;
    font-weight: 700;
    justify-content: center;
}

.provider-list{
    border: 1px solid #ddd;
    border-radius: 4px;
    
   
}


table {
  color: #6A6A6A;
}

#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #customers td, #customers th {
    /* border: 1px solid #ddd; */
    padding: 10px;
  }
  
  /* .cell-title{
    border: 1px solid #ddd;
  } */


  /* #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;} */
  
  /* #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  } */

  
